.label { 
    margin-left: 2%;
    margin-top: 0px;
    position: relative;
    padding: 0 10px;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #898B8F;
    font-size: 0.7em;
    display: block;
    max-width: 20%;
}
.input {
    border-color: #464E5C;
}
.red {
    border: 1px solid #DB4437
}
.colorRed {
    color: #DB4437;
}

.perfil {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    position: relative;
}

.orange {
    background-color: #E84E1B;
    border: 1.5px solid #fff;
    position: relative;
    display: block;
    margin-left: 70%;
    z-index: 99
}

